@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    text-decoration: none;
    color: black;
}

button {
    border: none;
    border-radius: 15px;
    color: #1C4701;
    cursor: pointer;
}

header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    font-size: 16px;
}

.quem-somos {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

.blog {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

header div button {
    height: 40px;
    width: 151px;
    background-color: rgba(126, 211, 33, 0.4);
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    font-size: 48px;
    margin-top: 27px;
    margin-bottom: 28px;
}

.logo span {
    color: #7ED321;
}

.titulo {
    margin-top: 30px;
    margin-left: 668px;
    margin-right: 668px;
    font-size: 48px;
}

.bloco1,
.bloco2 {
    display: flex;
}

.titulo1 {
    font-size: 32px;
    margin-bottom: 23px;
    margin-top: 50px;
}

.bloco1 .texto {
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    margin-right: 179px;
    width: 778px;
    height: 185px;
}

.bloco1 img {
    margin-left: 179px;
    margin-top: 59px;
}

.titulo2 {
    font-size: 32px;
    margin-bottom: 23px;
    margin-top: 45px;
}

.bloco2 .texto {
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    margin-right: 177px;
    margin-bottom: 207px;
    width: 778px;
    height: 188px;
}

.bloco2 img {
    margin-top: 45px;
    margin-bottom: 234px;
    margin-left: 181;
}