@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    text-decoration: none;
    color: black;
}

button {
    border: none;
    border-radius: 15px;
    color: #1C4701;
    cursor: pointer;   
}

header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    font-size: 16px;
}

.quem-somos {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

.blog {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

header div button {
    height: 40px;
    width: 151px;
    background-color: #7ED321;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    font-size: 48px;
    margin-top: 27px;
    margin-bottom: 28px;
}

.logo span {
    color: #7ED321;
}

.bloco-main {
    display: flex;
}

.enviar {
    background-color: #7ED321;
    width: 141px;
    height: 42px;
    margin-bottom: 335px;
    margin-left: 412px;
    margin-top: 20px;
}

.bloco-inputs {
    margin-left: 160px;
}

.bloco-nome, .bloco-idade, .bloco-email, .bloco-cachorro {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 37px;
}

h1 {
    margin-left: 612px;
    margin-top: 56px;
    font-size: 48px;
}

input, textarea{
    width: 418px;
    height: 43px;
    font-size: 14px;
    border-radius: 7px;
    border-width: 1px;
    border-color: #9F9F9F;
    border-style: solid;
    padding-left: 13px;
}

.bloco-nome p {
    margin-right: 45px;
    font-size: 18px;
}

.bloco-nome {
    margin-top: 37px;
}

.bloco-idade p {
    font-size: 18px;
    margin-right: 49px;
}

.bloco-email p {
    font-size: 18px;
    margin-right: 43px;
}

.bloco-cachorro p {
    text-align: center;
    height: 50px;
    width: 124px;
    margin-right: 11px;
}

textarea {
    width: 418px;
    height: 160px;
    padding-top: 12px;
    resize: none;
}

.bloco-cachorro {
    margin-left: 0px;
}

img {
    margin-bottom: 323px;
    margin-top: 24px;
}