@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    text-decoration: none;
    color: black;
}

button {
    border: none;
    border-radius: 15px;
    color: #1C4701;
    cursor: pointer;   
}

header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    font-size: 16px;
}

.quem-somos {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

.blog {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

header div button {
    height: 40px;
    width: 151px;
    background-color: rgba(126, 211, 33, 0.4);
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    font-size: 48px;
    margin-top: 27px;
    margin-bottom: 28px;
}

.logo span {
    color: #7ED321;
}

main {
    display: flex;
    padding-left: 200px;
}

main div {
    margin-top: 87px;
}

main div p {
    font-size: 48px;
    text-align: left;
    width: 371px;
}

main div button {
    margin-top: 25px;
    width: 220px;
    height: 51px;
    background-color: #7ED321;
    font-size: 18px;
    margin-bottom: 479px;
}

img {
    margin-bottom: 394px;
}