@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(Assets/Fonts/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    text-decoration: none;
    color: black;
}

button {
    border: none;
    border-radius: 15px;
    color: #1C4701;
    cursor: pointer;   
}

header {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    font-size: 16px;
}

.quem-somos {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

.blog {
    margin-right: 35px;
    margin-top: 54px;
    margin-bottom: 44px;
}

header div button {
    height: 40px;
    width: 151px;
    background-color: rgba(126, 211, 33, 0.4);
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    font-size: 48px;
    margin-top: 27px;
    margin-bottom: 28px;
}

.logo span {
    color: #7ED321;
}

main {
    padding-top: 30px;
}

.titulo {
    margin-left: 553px;
    margin-right: 553px;
    font-size: 48px;
    width: 334px;
    height: 65px;
}

.texto {
    font-weight: normal;
    text-align: justify;
    font-size: 16px;
    margin-left: 377px;
    margin-right: 376px;
    margin-top: 14px;
    width: 687px;
    height: 176px;
}

main img {
    margin-top: 14px;
    margin-left: 543px;
    margin-right: 543px;
    margin-bottom: 339px;
}